.table-wrapper {
  position: relative;

  mat-table {
    overflow: auto;
    mat-row, mat-header-row, mat-footer-row {
      border-bottom-width: 1;
      display: inline-flex;
      align-items: center;
      min-width: 100%;
    }
    mat-row {
      cursor: pointer;
    }
    mat-cell, mat-header-cell, mat-footer-cell {
      flex: none;
      padding: 0 0.5rem;
      margin: 15px 0.25rem;
      text-align: justify;
      max-width: 100%;
      width: 320px;
      height: max-content;
      max-height: 250px;
      min-height: inherit;
      overflow: auto;

      &.select {
        width: 20px;
        position: absolute;    
        background: white;
        left: 0;
        z-index: 1;
      }
    }
    mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
      padding-left: 0.75rem;
      padding-right: 0.5rem;
      margin-left: 0;
      margin-right: 0;
    }
    .mat-column-select {
      overflow: initial;
    }
    mat-header-cell.mat-column-star, mat-cell.mat-column-star {
      width: 20px;
    }
    .mat-table-sticky:first-child {
      border-right: 1px solid #e0e0e0;
    }
    .mat-table-sticky:last-child {
      border-left: 1px solid #e0e0e0;
    }
    .repeat-item-border {
      padding-bottom: 0.3rem;
      border-bottom: 1px dashed #00000030;
      margin-bottom: 0.3rem;
   
    }

    mat-cell.column-1 {
      padding: 20em;
    }
  }

  .actions-toolbar {
    padding: 0.2rem 0;
  
    mat-toolbar-row {
      height: auto;
  
      mat-form-field {
        font-size: 14px;
    
        .mat-form-field-wrapper {
          padding: 0 !important;
    
          .mat-form-field-outline {
            color: white;
          }
        }
      }
    }
  }
  [class*="column-1"]{
    padding: 50px;
  }

  mat-spinner {
    position: absolute;
    top: 2px;
    right: 2px;

    circle {
      stroke: #ffffff;
      stroke-width: 20% !important;
    }
  }
}
