<div class="form-wrapper">
    <h3 class="title">{{ formFormalName }}</h3>
    <mat-card class="form-card">
        <form [formGroup]="form" (ngSubmit)="submit(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model" [options]="options"></formly-form>
            <mat-spinner-button type="submit" [options]="btnSaveOpts"></mat-spinner-button>
            <mat-spinner-button *ngIf="cleanButton" type="submit" [options]="btnCleanOpts" (click)="reset()"></mat-spinner-button>
        </form>
    </mat-card>
</div>
