<div id="dataTable" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

    <mat-card fxFlex>
        <mat-card-content class="contenedor-tabla">

            <ngx-loading [show]="dataSource.loading$ | async" [config]="{ fullScreenBackdrop: false }"></ngx-loading>

            <div class="mat-container mat-elevation-z8">

                <div class="table-header">
                    <mat-form-field>
                        <input matInput placeholder="Filtro" #filter data-column="tituloArticulo">
                    </mat-form-field>
                </div>

                <mat-table [dataSource]="dataSource" matSort>

                    <div *ngIf="activeActions">
                        <ng-container matColumnDef="copy" id="actionsCell">
                            <mat-header-cell *matHeaderCellDef class="mat-header-cell action"> </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="mat-cell action">
                                <button mat-raised-button color="primary" type="button" (click)="onCopyData( row.id )" title="Copiar">
                                    <mat-icon>file_copy</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="edit" id="actionsCell">
                            <mat-header-cell *matHeaderCellDef class="mat-header-cell action"> </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="mat-cell action">
                                <button mat-raised-button color="primary" type="button" (click)="onEditData( row.id )" title="Editar">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="delete" id="actionsCell">
                            <mat-header-cell *matHeaderCellDef class="mat-header-cell action last"> </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="mat-cell action last">
                                <button mat-raised-button color="primary" type="button" (click)="onDeleteData( row.id )" title="Eliminar">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>
                    </div>

                    <ng-container *ngFor="let col of template.displayedColumnsData" matColumnDef="{{ col }}">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell {{ template.repeatSections.includes(col) ? 'repeat' : '' }}">
                            {{ template.displayedColumnsNames[col] }} </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-cell {{ template.repeatSections.includes(col) ? 'repeat' : '' }}" [innerHtml]="row[col]"></mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="template.displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: template.displayedColumns"></mat-row>

                </mat-table>

                <mat-paginator [length]="model?.countData" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

                <div *ngIf="export" class="export">
                    <mat-spinner-button [options]="exportCSVSpinnerButtonOptions" (click)="exportCSV()"></mat-spinner-button>
                </div>
                <!--
                <spinner-button [options]="refreshSpinnerButtonOptions" (click)="refresh()"></spinner-button>
                -->

            </div>

        </mat-card-content>
    </mat-card>

</div>