<!-- Loading -->
<ngx-loading [show]="fullLoading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

<!-- Notifier -->
<notifier-container></notifier-container>

<!--
<div>
    <app-menu [isVisible]="false"></app-menu>
</div>
-->

<div *ngIf="!isSaved && !isError && dataLoaded && template != null && formlyName != null">
    <!-- Formly -->
    <div>
        <app-formly #formly [formId]="formId" [formData]="formData" [dependencyName]="formlyName" [template]="template" [creator]="cedula" [clearButton]="false" (fullLoading)="toggleLoading($event)" (dataSaved)="saved()"></app-formly>
    </div>
</div>
<div *ngIf="isSaved">
    <div class="container">
        <span style="font-size: 48px; color: #0a351c">
            <i class="fas fa-exclamation-circle"></i>
        </span>
        <span class="user-info-message">{{message}}</span>
    </div>
</div>
<div *ngIf="isError">
    <div class="container">
        <span style="font-size: 48px; color: #D9534F">
            <i class="fas fa-times"></i>
        </span>
        <span class="user-info-message">Error cargando la pagina</span>
    </div>
</div>