<!-- Loading -->
<ngx-loading [show]="fullLoading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

<!-- Notifier -->
<notifier-container></notifier-container>

<!-- Menu -->
<div>
    <app-menu (selectedItem)="onSelectMenuItem($event)"></app-menu>
</div>

<div *ngIf="template != null">
    <!-- Formly -->
    <div>
        <app-formly #formly [formId]="formId" [dependencyName]="dependencyName" [template]="template" (fullLoading)="toggleLoading($event)" (dataSaved)="dataTable.refresh($event)"></app-formly>
    </div>

    <!-- Data Table -->
    <div>
        <app-data-table #dataTable [formId]="formId" [dependencyName]="dependencyName" [allDataAccess]="allDataAccess" [template]="template" (copyData)="formly.copyData($event)" (editData)="formly.editData($event)" (deleteData)="formly.deleteData($event)"></app-data-table>
    </div>
</div>