:host {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-wrapper {
  max-width: 100%;
  width: 360px;

  mat-card {
    padding: 3rem 2rem 2rem;
    margin: 0.5rem;
  
    .title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      display: block;
      line-height: 1;
    }

    .error-message {
      color: #f44336;
    }

    form {
      .password-field {
        mat-icon {
          cursor: pointer;
        }
      }
    }
  }
}
