/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.group {
  background: lightgrey;
  display: block;
  margin: 20px;
  padding: 20px;
}

.repeatSection {
  border: 1px solid black;
  display: block;
  margin: 20px;
  padding: 20px;
}
  .repeatSection .fieldRepeat {
    background: lightgrey;
    display: block;
    margin: 10px 0;
    padding: 10px;
  }
