<div class="table-wrapper">
    <h3 *ngIf="tableName" class="title">{{ tableName }}</h3>

    <mat-form-field>
        <input matInput placeholder="Buscar" #input>
    </mat-form-field>

    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
        <mat-spinner></mat-spinner>
    </div>

    <div class="table mat-elevation-z1">
        <div class="wrapper-table-content">
            <mat-table [dataSource]="dataSource" matSort matSortDirection="asc" matSortDisableClear>

                <ng-container *ngFor="let column of displayedColumns; let i = index;" [matColumnDef]="column">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ columns[column].name }}</mat-header-cell>
                    <mat-cell *matCellDef="let data">{{ columns[column].type === 'date' ? (data[column] | date:'shortDate') : data[column] }}</mat-cell>
                </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
                <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>
    
            </mat-table>
        </div>

        <mat-paginator [length]="dataCount" [pageSize]="5" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
    </div>

</div>