<div class="container header" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="20%">
    <img class="logo-header" src="./assets/img/logo-udea.png" alt="Logo">
  </div>
  <div fxFlex></div>
  <div fxFlex fxFlex.gt-sm="50%">
    <h1>CAAFI</h1>
    <p>Comité de Autoevaluación y Acreditación de la Facultad de Ingeniería</p>
  </div>
</div>
<mat-toolbar color="primary">
  <button  mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">apps</i>
        <span>Módulo de {{ moduloActivo }}</span>
  </button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let modulo of lista_modulos" routerLink="{{ modulo.ruta}}" routerLinkActive="active" (click) = "cambiarModuloActivo( modulo.nombre )" >
        <span> {{ modulo.nombre }} </span>
    </button>
  </mat-menu>
  <a *ngIf="false" mat-button routerLink="/home"><span><img src="./assets/img/logo-caafi.png" height=30 ></span></a>

  <span class="flex-spacer"></span>
  <a mat-button><span class="fa fa-sign-in fa-lg"></span></a>
</mat-toolbar>