<!-- Menu -->
<div>
    <app-menu [isVisible]="loginService.isLogIn()" (selectedItem)="onSelectMenuItem($event)"></app-menu>
</div>

<div *ngIf="template != null">
    <div *ngIf="loginService.isLogIn();else public_content">
        <!-- Formly -->
        <div *ngIf="formData != null">
            <app-formly #formly [formId]="formId" [dependencyName]="dependencyId + '-' + pollType + '-' + formId" [template]="template" [formData]="formData" (fullLoading)="toggleLoading($event)" (dataSaved)="dataTable.refresh($event)"></app-formly>
        </div>

        <!-- Data Table -->
        <div>
            <app-data-table #dataTable [formId]="formId" [dependencyName]="dependencyId + '-' + pollType + '-' + formId" [template]="template" [activeActions]="false" [export]="true" (copyData)="formly.copyData($event)" (editData)="formly.editData($event)" (deleteData)="formly.deleteData($event)"></app-data-table>
        </div>

        <div class="container">
            <hr>
            <h4>Configuración de la Encuesta</h4>
            <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
                <div class="container-formPollPrograms">
                    <mat-form-field>
                        <mat-label>Programa Académico</mat-label>
                        <mat-select #poll_program [(ngModel)]="program" (selectionChange)="loadMatters()">
                            <mat-option *ngFor="let program of programs" [value]="program.code">
                                {{program.code}} - {{program.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
                <div class="container-formPollMatters">
                    <mat-form-field>
                        <mat-label>Materia</mat-label>
                        <mat-select #poll_matter [(ngModel)]="matter" (selectionChange)="loadGroups()">
                            <mat-option *ngFor="let matter of matters" [value]="matter.code">
                                {{matter.code}} - {{matter.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="container-formPollGroups">
                    <mat-form-field>
                        <mat-label>Grupo</mat-label>
                        <mat-select #poll_group [(ngModel)]="group" (selectionChange)="loadConfig()">
                            <mat-option *ngFor="let group of groups" [value]="group.code">
                                {{group.code}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
                <div class="container-formPollAllStudents">
                    <mat-checkbox [(ngModel)]="allEmails" (change)="getEmailsDB()">Mostrar los correos electrónicos de todos los estudantes de la materia</mat-checkbox>
                </div>
            </div>
            <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
                <div class="container-formPollEmailsDB">
                    <mat-form-field>
                        <textarea matInput #poll_emailsDB [(ngModel)]="emailsDB" placeholder="Correos electrónicos cargados de archivo"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="container-formPollEmails">
                <mat-form-field>
                    <textarea matInput #poll_emails [(ngModel)]="emails" placeholder="Otros Correos electrónicos para el envío de la encuesta (separados por comas)"></textarea>
                </mat-form-field>
            </div>
            <div class="container-formPollSubject">
                <mat-form-field>
                    <input matInput placeholder="Asunto del correo electrónico" [(ngModel)]="subject">
                </mat-form-field>
            </div>
            <div class="container-formPollMessage">
                <mat-form-field>
                    <textarea matInput [(ngModel)]="message" placeholder="Mensaje del correo electrónico"></textarea>
                </mat-form-field>
            </div>
            <div class="container-rangePoll">
                <mat-form-field>
                    <input matInput placeholder="Rango de activación" [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                    <owl-date-time #dtRange1></owl-date-time>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="button" (click)="savePoll()" class="form-button">Guardar configuración</button>
            <button mat-raised-button color="primary" type="button" (click)="saveAndSendPoll()" class="form-button">Guardar configuración y enviar encuesta</button>
        </div>
    </div>
    <ng-template #public_content>
        <!-- Formly -->
        <div>
            <app-formly #formly [formId]="formId" [dependencyName]="dependencyId + '-' + pollType + '-' + formId" [template]="template" (fullLoading)="toggleLoading($event)"></app-formly>
        </div>
    </ng-template>

    <!-- Loading -->
    <ngx-loading [show]="fullLoading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <!-- Notifier -->
    <notifier-container></notifier-container>
</div>