<!-- Menu -->
<div>
    <app-menu [isVisible]="loginService.isLogIn()" (selectedItem)="onSelectMenuItem($event)"></app-menu>
</div>

<div *ngIf="template != null">
    <div *ngIf="loginService.isLogIn();else public_content">
        <!-- Formly -->
        <div>
            <app-formly #formly [formId]="formId" [dependencyName]="dependencyName" [template]="template" (fullLoading)="toggleLoading($event)" (dataSaved)="dataTable.refresh($event)"></app-formly>
        </div>

        <!-- Data Table -->
        <div>
            <app-data-table #dataTable [formId]="formId" [dependencyName]="dependencyName" [template]="template" [activeActions]="false" [export]="true" (copyData)="formly.copyData($event)" (editData)="formly.editData($event)" (deleteData)="formly.deleteData($event)"></app-data-table>
        </div>

        <div class="container">
            <hr>
            <h4>Configuración de la Encuesta</h4>
            <div class="container-formPollEmails">
                <mat-form-field>
                    <textarea matInput #poll_emails [(ngModel)]="emails" placeholder="Correos electrónicos para el envío de la encuesta (separados por comas)"></textarea>
                </mat-form-field>
            </div>
            <div class="container-rangePoll">
                <mat-form-field>
                    <input matInput placeholder="Rango de activación" [(ngModel)]="dateTimeRange" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                    <owl-date-time #dtRange1></owl-date-time>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="button" (click)="savePoll()">Guardar configuración</button>
            <button mat-raised-button color="primary" type="button" (click)="sendPoll(poll_emails.value)">Guardar configuración y enviar encuesta</button>
        </div>
    </div>
    <ng-template #public_content>
        <!-- Formly -->
        <div>
            <app-formly #formly [formId]="formId" [dependencyName]="dependencyName" [template]="template" (fullLoading)="toggleLoading($event)"></app-formly>
        </div>
    </ng-template>

    <!-- Loading -->
    <ngx-loading [show]="fullLoading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <!-- Notifier -->
    <notifier-container></notifier-container>
</div>