<!-- Menu -->
<div *ngIf="menuItems">
    <app-menu [module]="activeModule" [form]="formName" [dependency]="dependencyName" [menuItems]="menuItems"></app-menu>
</div>

<div *ngIf="template != null">
    <!-- Formly -->
    <div>
        <app-formly #formly [formId]="formId" [dependencyName]="dependencyName" [template]="template" (fullLoading)="toggleLoading($event)" (dataSaved)="dataTable.refresh($event)"></app-formly>
    </div>

    <div class="container">
        <hr>
        <h4>Configuración de la Encuesta</h4>
        <div class="container-formPollEmails">
            <mat-form-field>
                <textarea matInput #poll_emails placeholder="Correos electrónicos para el envío de la encuesta (separados por comas)"></textarea>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="button" (click)="enviarEncuesta(poll_emails.value)">Enviar encuesta</button>
    </div>

    <!-- Loading -->
    <ngx-loading [show]="fullLoading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

    <!-- Notifier -->
    <notifier-container></notifier-container>
</div>

<!--
<div *ngIf="activeForm != null">

        <div *ngIf="showForm">
            <form [formGroup]="form" (ngSubmit)="onSubmit(formData)">
                <formly-form [model]="formData" [fields]="formFields" [options]="options" [form]="form">
                    <button mat-raised-button color="primary" type="button" (click)="resetConfirmation()">Limpiar</button>
                    <button *ngIf="!isReport" mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Guardar</button>
                    <button *ngIf="isReport" mat-raised-button color="primary" type="button" [disabled]="!form.valid" (click)="filterData(formData)">Filtrar</button>
                </formly-form>
            </form>
    
            <div [hidden]="!cargando">
                <mat-spinner></mat-spinner>
                <h4>Guardando...</h4>
            </div>
            <div *ngIf="errorMessage" class="error">
                <p *ngFor="let error of errorMessage">{{error}}</p>
            </div>
            <div *ngIf="exito" class="exito">
                <p>El formulario fue guardado con éxito</p>
            </div>
        </div>
    
        <div *ngIf="routePath === 'encuestas'"> 
        <div *ngIf="false">
            <hr>
            <h4>Configuración de la Encuesta</h4>
            <div class="container-formPollEmails">
                <mat-form-field>
                    <textarea matInput #poll_emails placeholder="Correos electrónicos para el envío de la encuesta (separados por comas)"></textarea>
                </mat-form-field>
            </div>
            <button mat-raised-button color="primary" type="button" (click)="enviarEncuesta(poll_emails.value)">Enviar encuesta</button>
            <div [hidden]="!cargandoEncuesta">
                <mat-spinner></mat-spinner>
                <h4>Guardando...</h4>
            </div>
            <div *ngIf="errorMessageEncuesta" class="error">
                <p *ngFor="let error of errorMessageEncuesta">{{error}}</p>
            </div>
            <div *ngIf="exitoEncuesta" class="exito">
                <p>La encuesta se ha enviado satisfactoriamente</p>
            </div>
        </div>
    
        <div *ngIf="false" id="dataTable" class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">
    
            <mat-card fxFlex>
                <mat-card-content class="contenedor-tabla">
    
                    <ngx-loading [show]="dataSource.loading$ | async" [config]="{ fullScreenBackdrop: false }"></ngx-loading>
    
                    <div class="mat-container mat-elevation-z8">
    
                        <div class="table-header">
                            <mat-input-container>
                                <input matInput placeholder="Filtro" #filter data-column="tituloArticulo">
                            </mat-input-container>
                        </div>
    
                        <mat-table class="" [dataSource]="dataSource" matSort>
    
                            <div *ngIf="!isReport">
                                <ng-container matColumnDef="copy" id="actionsCell">
                                    <mat-header-cell *matHeaderCellDef class="mat-header-cell action"> </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="mat-cell action">
                                        <button mat-raised-button color="primary" type="button" (click)="loadData( row.id, true )" title="Copiar">
                                            <mat-icon>file_copy</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
    
                                <ng-container matColumnDef="edit" id="actionsCell">
                                    <mat-header-cell *matHeaderCellDef class="mat-header-cell action"> </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="mat-cell action">
                                        <button mat-raised-button color="primary" type="button" (click)="loadData( row.id )" title="Editar">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
    
                                <ng-container matColumnDef="delete" id="actionsCell">
                                    <mat-header-cell *matHeaderCellDef class="mat-header-cell action last"> </mat-header-cell>
                                    <mat-cell *matCellDef="let row" class="mat-cell action last">
                                        <button mat-raised-button color="primary" type="button" (click)="deleteData( row.id )" title="Eliminar">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                            </div>
    
                            <ng-container *ngFor="let col of displayedColumnsData" matColumnDef="{{ col }}">
                                <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell {{ repeatSections.includes(col) ? 'repeat' : '' }}">
                                    {{ displayedColumnsNames[col] }} </mat-header-cell>
                                <mat-cell *matCellDef="let row" class="mat-cell {{ repeatSections.includes(col) ? 'repeat' : '' }}" [innerHtml]="row[col]"></mat-cell>
                            </ng-container>
    
                            <mat-header-row *matHeaderRowDef="!isReport ? displayedColumns : displayedColumnsData"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: !isReport ? displayedColumns : displayedColumnsData"></mat-row>
    
                        </mat-table>
    
                        <mat-paginator [length]="model?.countData" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
    
                        <div *ngIf="isReport" class="export">
                            <spinner-button [options]="exportCSVSpinnerButtonOptions" (click)="exportCSV()"></spinner-button>
                        </div>
    
                    </div>
    
                </mat-card-content>
            </mat-card>
    
        </div>
    
    </div>
    -->