<!-- Loading -->
<ngx-loading [show]="fullLoading" [config]="{ fullScreenBackdrop: true }"></ngx-loading>

<!-- Notifier -->
<notifier-container></notifier-container>

<!-- Menu -->
<div>
    <app-menu [isVisible]="loginService.isLogIn()" (selectedItem)="onSelectMenuItem($event)"></app-menu>
</div>

<div *ngIf="template != null">
    <!-- Formly -->
    <div *ngIf="formData != null">
        <app-formly #formly [formId]="formId" [template]="template" [formData]="formData" [clearButton]="false" (fullLoading)="toggleLoading($event)" (dataSaved)="dataTable.refresh($event)"></app-formly>
    </div>

    <div class="container">
        <hr>
        <h4>Datos de la Encuesta</h4>
        <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
            <div class="container-formSurveyPrograms">
                <mat-form-field>
                    <mat-label>Programa Académico</mat-label>
                    <mat-select #survey_program [(ngModel)]="program" (selectionChange)="loadMatters()">
                        <mat-option *ngFor="let program of programs" [value]="program.code">
                            {{program.code}} - {{program.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
            <div class="container-formSurveyMatters">
                <mat-form-field>
                    <mat-label>Materia</mat-label>
                    <mat-select #survey_matter [(ngModel)]="matter" (selectionChange)="loadGroups()">
                        <mat-option *ngFor="let matter of matters" [value]="matter.code">
                            {{matter.code}} - {{matter.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="container-formSurveyGroups">
                <mat-form-field>
                    <mat-label>Grupo</mat-label>
                    <mat-select #survey_group [(ngModel)]="group" (selectionChange)="setGroup()">
                        <mat-option *ngFor="let group of groups" [value]="group.code">
                            {{group.code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="container-mattersSurvery">
            <div class="container-formSurveyFilterInitDate">
                <mat-form-field>
                    <input matInput [(ngModel)]="filterInitDate" [matDatepicker]="pickerInit" placeholder="Fecha inicial">
                    <mat-datepicker-toggle matSuffix [for]="pickerInit"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInit></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="container-formSurveyFilterEndDate">
                <mat-form-field>
                    <input matInput [(ngModel)]="filterEndDate" [matDatepicker]="pickerEnd" placeholder="Fecha final">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="display-flex">
            <div class="display-flex">
                <button mat-raised-button color="primary" type="button" (click)="filterData()" class="form-button">Filtrar</button>
            </div>
            <div class="display-flex">
                <button mat-raised-button color="primary" type="button" (click)="cleanFilters()" class="form-button">Limpiar</button>
            </div>
        </div>

        <!-- Data Table -->
        <div *ngIf="configId != null">
            <app-data-table #dataTable [formId]="formId" [dependencyName]="configId" [template]="template" [activeActions]="false" [export]="true"></app-data-table>
        </div>

        <hr>
        <h4>Correos electrónicos de estudiantes</h4>
        <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
            <div class="container-formSurveyAllStudents">
                <mat-checkbox [(ngModel)]="allEmails" (change)="getEmailsDB()">Mostrar los correos electrónicos de todos los estudantes de la materia</mat-checkbox>
            </div>
        </div>
        <div *ngIf="isMattersSurvery" class="container-mattersSurvery">
            <div class="container-formSurveyEmailsDB">
                <mat-form-field>
                    <textarea [(ngModel)]="emailsDB" matInput #survey_emailsDB placeholder="" [disabled]="true"></textarea>
                </mat-form-field>
            </div>
        </div>

        <!--
        <app-table #dataTable collection="student" [export]="true"></app-table>
        -->

        <hr>
        <h4>Configuración de la Encuesta</h4>
        <form [formGroup]="configForm">
            <div *ngIf="!isMattersSurvery" class="container-formSurveyEmails">
                <mat-form-field>
                    <textarea formControlName="emails" matInput #survey_emails placeholder="Correos electrónicos para el envío de la encuesta (separados por comas)"></textarea>
                </mat-form-field>
            </div>
            <div class="container-formSurveySubject">
                <mat-form-field>
                    <input formControlName="subject" matInput placeholder="Asunto del correo electrónico">
                </mat-form-field>
            </div>
            <div class="container-formSurveyMessage">
                <mat-form-field>
                    <textarea formControlName="message" matInput placeholder="Mensaje del correo electrónico"></textarea>
                </mat-form-field>
            </div>
            <div class="container-rangeSurvey">
                <mat-form-field>
                    <input formControlName="dateTimeRange" matInput placeholder="Rango de activación" [selectMode]="'range'" [owlDateTimeTrigger]="dtRange1" [owlDateTime]="dtRange1">
                    <owl-date-time #dtRange1></owl-date-time>
                </mat-form-field>
            </div>
            <mat-progress-bar *ngIf="showProgress" [mode]="progressMode" [value]="sendingProgressValue"></mat-progress-bar>
            <div class="buttons">
                <button mat-raised-button color="primary" type="button" (click)="saveSurveyConfig()" class="form-button" [disabled]="!configFormValid()">Guardar configuración</button>
                <button mat-raised-button color="primary" type="button" (click)="saveConfigAndSendSurvey()" class="form-button" [disabled]="!configFormValid()">Guardar configuración y enviar encuesta</button>
            </div>
        </form>
    </div>
</div>