<h3>{{field.sectionName}}</h3>
<div *ngFor="let control of formControl.controls; let i = index;">
  <formly-form
    [model]="model[i]"
    [fields]="fields[i]"
    [options]="options"
    [form]="this.formControl.at(i)"
    [ngClass]="field.fieldArray.fieldGroupClassName">
  </formly-form>
  <button mat-raised-button color="warn" type="button" (click)="remove(i)" class="button-remove-repeat">Eliminar</button>
</div>
<div style="margin:30px 0;">
  <button mat-raised-button color="primary" type="button" (click)="add()" id="button-add-{{field.key}}">Agregar</button>
</div>
